<!-- Large Icon Section -->
<div id="large_icon_section" class="container">
    <div class="row text-center">
        
        <h5 class="subtitle">Loaded with features</h5>
        <h3>Get a jumpstart on your development</h3>

        <br>

        <!-- Column - 1st -->
        <div class="col-md-4 col-sm-6">
           <img src="@Url.Content("~/images/color_svg_large/icons8-Add.svg")" alt="">
           <h5>CSS Components</h5>
           <p>
               Every component is easily found in the one searchable CSS file.
           </p>
           <br>
           <br>
        </div>
        <!-- / Column - 2nd -->

        <!-- Column -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Process.svg")" alt="">
            <h5>Sections</h5>
            <p>
               You can easily copy one entire section and use it in your own project.
            </p>
            <br>
            <br>
        </div>
        <!-- / Column -->

        <!-- Column - 3rd -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Menu.svg")" alt="">
            <h5>Navigation</h5>
           <p>
               A custom transparent Bootstrap provides a nice overview.
           </p>
           <br>
           <br>
        </div>
        <!-- / Column -->

        <!-- Column - 1st -->
        <div class="col-md-4 col-sm-6">
           <img src="@Url.Content("~/images/color_svg_large/icons8-ChangeTheme.svg")" alt="">
           <h5>Production Ready</h5>
           <p>
               With a little customizations it could easily be used as a landing page.
           </p>
           <br>
           <br>
        </div>
        <!-- / Column - 2nd -->

        <!-- Column -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Checkmark.svg")" alt="">
            <h5>Open Source</h5>
            <p>
               Everything is on GitHub to easily grab. Feel free to contribute.
            </p>
            <br>
            <br>
        </div>
        <!-- / Column -->

        <!-- Column - 3rd -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Collect.svg")" alt="">
            <h5>No Custom C#</h5>
           <p>
               Apart from a simple error handling, no custom code is implemented.
           </p>
           <br>
           <br>
        </div>
        <!-- / Column -->

        <!-- Column - 1st -->
        <div class="col-md-4 col-sm-6">
           <img src="@Url.Content("~/images/color_svg_large/icons8-Download.svg")" alt="">
           <h5>CSS Components</h5>
           <p>
               The template can also be used just for the CSS components and sections.
           </p>
        </div>
        <!-- / Column - 2nd -->

        <!-- Column -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-DetailsPopup.svg")" alt="">
            <h5>Minimalistic</h5>
            <p>
               All components are creating with modern minimalistic styling.
            </p>
        </div>
        <!-- / Column -->

        <!-- Column - 3rd -->
        <div class="col-md-4 col-sm-6">
            <img src="@Url.Content("~/images/color_svg_large/icons8-Maintenance.svg")" alt="">
            <h5>Extensible</h5>
           <p>
               Create your own new pages and implement the components you want in no time.
           </p>
        </div>
        <!-- / Column -->

    </div>
</div>
<!-- / Large Icon Section -->