<!-- Options Card Section -->
<div id="options_section">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">

                <br>

                <!-- First Card -->
                <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto1.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>Data</h3>
                            <p>Get your data with HTTP requests and more.</p>
                        </div>
                    </div>
                </div>
                <!-- / First Card -->

                <!-- Second Card -->
                <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto2.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>CSS Components</h3>
                            <p>Find what you need and use it in your project.</p>
                        </div>
                    </div>
                </div>
                <!-- / Second Card -->

                <!-- Third Card -->
                <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto3.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>The newest framework</h3>
                            <p>Get your data with HTTP requests and more.</p>
                        </div>
                    </div>
                </div>
                <!-- / Third Card -->

                <!-- Fourth Card -->
                <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto4.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>Full Control</h3>
                            <p>Select and extend the pages you need for your app.</p>
                        </div>
                    </div>
                </div>
                <!-- / Fourth Card -->

                <!-- Fifth Card -->
                <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto5.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>Universal</h3>
                            <p>Build on top of what you already know.</p>
                        </div>
                    </div>
                </div>
                <!-- / Fifth Card -->

                <!-- Sixth Card -->
               <div class="col-md-6">
                    <div class="card elevation">
                        <div class="media-left media-middle">
                            <img src="@Url.Content("~/images/icons/auto6.png")" alt="">
                        </div>
                        <div class="media-body">
                            <h3>Extend</h3>
                            <p>Add all the features you want to your template.</p>
                        </div>
                    </div>
                </div>
                <!-- / Sixth Card -->
                
            </div>
       </div>
    </div>
</div>
<!-- End of Options Card Section -->