<!-- Testimonials Section -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

                <!-- Quote 1 -->
                <div class="item active card">
                    <div class="row">
                        <div class="col-sm-12">
                        <img class="img-circle testimonial" src="@Url.Content("~/images/cool-dude.jpeg")" alt="Cool Dude Image">
                        <p>You better start building immediately. This template is great!</p>
                        <h5 class="subtitle">A famous guy</h5>
                        </div>
                        <img class="quote-left hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                        <img class="quote-right hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                    </div>
                </div>

                <!-- Quote 2 -->
                <div class="item card">
                    <div class="row">
                        <div class="col-sm-12">
                        <img class="img-circle testimonial" src="@Url.Content("~/images/cool-dude.jpeg")" alt="Cool Dude Image">
                        <p>ASP.NET Core is here to stay. It gave us a quick start on our project!</p>
                        <h5 class="subtitle">Your close friend</h5>
                        </div>
                        <img class="quote-left hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                        <img class="quote-right hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                    </div>
                </div>

                <!-- Quote 3 -->
                <div class="item card">
                    <div class="row">
                        <div class="col-sm-12">
                        <img class="img-circle testimonial" src="@Url.Content("~/images/cool-dude.jpeg")" alt="Cool Dude Image">
                        <p>All these components saved us loads of hours on our development!</p>
                        <h5 class="subtitle">A happy customer</h5>
                        </div>
                        <img class="quote-left hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                        <img class="quote-right hidden-xs" src="@Url.Content("~/images/quote.svg")" alt="quote">
                    </div>
                </div>
            </div>

      </div>                          
    </div>
  </div>
</div>
<div class="breaksection"></div>
<div class="breaksection"></div>
<!-- / Testimonials Section -->